.selectContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1.3em;
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
}


.item, .selected {
    background-color: rgba(3, 108, 199, 0.71);
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.select, .item  {
    box-sizing: border-box;
    height: 30px;
    text-align: center;
    padding: 0 5px 0 5px;
    width: 150px;
    cursor: pointer;
}
